* text=auto

*.cs text diff=csharp
*.csproj text
*.sln text eol=crlf
*.json text
*.md text
*.ps1 text eol=crlf
*.py text eol=lf

*.exe binary
*.dll binary
*.png binary
*.ico binary
*.sig binary
*.bundle binary
